

body {
    background: #E5E5E5;
}

/* ----------- barra fixa do topo ------------------------------------- */

.barra-topo {
    width: 414px;
    height: 92px;
    background-color: #CF2B2B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;

}

.barra-topo h1 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-left: 21px;
}

.barra-topo h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 21px;
}

/* ----------- conteudo principal ------------------------------------ */ 

.container {
    margin-top: 27px;
    height: 100%;
    width: 395px;
    background-color: #E5E5E5;
    margin-left: 19px;
    
}

.margem {
    margin-top: 123px;    
}



h3 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
}

.infosDaOpcao {
    width: 172px;
    height: 216px;
    background-color: #FFFFFF;
    margin-top: 17px;
    border-radius: 9px;
    margin-right: 15px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.infosDaOpcao img {
    width: 144px;
    height: 87px;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 18px;
    border-radius: 4px;
}

.infosDaOpcao p {
    margin-left: 14px;
}

.nome {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-top: 8px;
    
}

.descricao {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    margin-top: 4px;
    
}

.preco {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 5px;
    
}

.todas-opcoes-disponiveis {
    display: flex;
    overflow-x: scroll;
}

.margem2 {
    margin-bottom: 108px;
}

/* -------------------- barra fixa de baixo -----------------------------*/

.barra-baixo {
    width: 414px;
    height: 92px;
    background-color: #FFFFFF;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.barra-baixo div {
    width: 364px;
    height: 61px; 
}

.barra-baixo button {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    border: 0px;
}

.cor-fundo-depois {
    background-color: #32B72F;
}
.cor-fundo-antes {
    background-color: #CBCBCB;  
}
/* ------------------------------ seleção de itens ------------------------------ */


.selecionado {
    width: 160px;
    height: 204px;
    border: 6px solid #32B72F;
}

.selecionado img {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 12px;
}


.icone {
    font-size: 120%;
    color: #32B72F;
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: none;
}

.selecionado .icone {
    display: initial;
}

/* ------------------------ página fechar pedido -----------------------*/

.container-fechar-pedido {
    width: 414px;
    height: 1026px;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top:0px;
    left:0px;
    z-index: 2;
}

.fechar-pedido {
    width: 377px;
    height: 353px;
    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    position: absolute;
    bottom:42%;
    left: 19px;
}

.confirmacao {
    position: absolute;
    width: 376px;
    height: 27px;
    left: 0px;
    top: 17px;
}

.confirmacao p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;


}

.escondido {
    display: none;
}

.itens-selecionados-mensagem div {
    width: 326px;
    margin-left: 26px;
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
}

.negrito p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
}

.margem-cima {
    margin-top: 76px;
}



.pode-pedir {
    width: 329px;
    height: 52px;
    background: #FFFFFF;
    border-radius: 100px;
    border: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #50D074;
    margin-top: 3px;
}

.cancelar-pedido {
    width: 333px;
    height: 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    background: #50D074;
    border: 0px;
    
}


